# Foldery budowania (CMake tu będzie generował pliki)
build/
out/
bin/

# Pliki IDE (Visual Studio, CLion)
.vs/
.idea/
*.user

# Pliki binarne
*.exe
*.dll
*.lib

# Wyjatki dla zewnetrznych bibliotek
!thirdparty/
!thirdparty/**/*.lib
!thirdparty/**/*.dll
!thirdparty/**/lib/
!thirdparty/**/bin/

CMakeSettings.json